---
import ThemeToggle from "@/components/ThemeToggle";

interface Props {
  showThemeToggle?: boolean;
}

const { showThemeToggle = false } = Astro.props;
---

<footer class="py-4 sm:py-8 mt-6 sm:mt-auto flex items-center justify-end">
  {showThemeToggle && (
    <div class="flex items-center gap-2">
      <ThemeToggle client:load />
    </div>
  )}
</footer>